body {
    width: 100%;
    /* background by SVGBackgrounds.com */
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23000a22' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23001544' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23001f66' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23002a88' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%230034AA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-size: cover;
    margin: 0;
}   
h1,h2,h3,p, a, button, li, div {
    color: #eee;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
pre {
    font-size: 20px;
    background: rgba(20,20,20);
    color: #aaa;
    padding: 24px 8px;
    margin: 0 16px 36px;
    max-width: 100%;
    overflow: auto;
}
a {
    color: #ddd;
    text-decoration: none;
}
a:active {
    color: #ddd;
}
a:hover {
    color: #999;
}
a {
    font-size: 20px;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 64px;
}
.navbar {
    height: 56px;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar-item {
    color: #ddd;
    margin-right: 16px;
    background: #000;
    padding: 4px;
}
.navbar-item.active {
    color: #aaa;
    text-decoration: underline;
}
.navbar-item:hover {
    color: #aaa;
    text-decoration: underline;
}
.header {
    margin-top: 44px;
    padding-left: 2%;
}
.content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}
.sidebar {
    width: 22%;
    background: rgba(40,40,40,.8);
    margin-left: 1%;
    min-height: 100%;
    padding: 8px;
}
.homepage-sidebar {
    margin-left: 16px;    
}
.article {
    width: 70%;
    margin-left: 1%;
    background: rgba(40,40,40,.8);
    padding: 8px 12px;
    border-radius: 4px;
    min-height: 100%;
}

.section-header>p{
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 2px;
    font-weight: 600;
}
.section-header p:hover {
    color: #aaa;
    text-decoration: underline;
}
.section-header p.entry-link {
    font-size: 16px;
    color: #ddd;
    cursor: pointer;
    margin: 4px 0 0 16px;
}
ul li {
    font-size: 20px;
}
.article p {
    font-size: 20px;
    padding: 0 8px;
}
p.article-section-header {
    text-decoration: underline;
    font-size: 22px;
    margin-top: 48px;
    font-weight: 600;

}
.article-image {
    width: 264px;
    height: auto;
    padding: 0px 0px 8px 8px;
    float: right;
}
.article-title {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 16px;
    text-align:center;
}
.article-title p {
    font-size: 24px;
    margin: 4px 0;
}
.article-title h1 {
    font-size: 32px;
    margin: 4px 0;
}
@media (max-width: 640px) {
    .navbar {
        height: 48px;
    }
    .navbar-item {
        font-size: 16px;
    }
    .header {
        margin-top: 0;
    }
    .header h1 {
        margin-top: 0;
        font-size: 24px;
    }
    .sidebar {
        width: 100%;
        overflow: auto;
    }
    .article {
        width: 100%;
        margin-right:0;
        margin-bottom: 16px;
    }
    .article-image {
        width: 74%;
        margin: 0 13%;
        padding-bottom: 16px;
    }
    .section-header p {
        margin-top: 4px;
    }
}